# Visual Studio
*.suo
*.user
*.VC.db
*.VC.VC.opendb
*.opensdf
*.sdf
*.ipch
*.obj
*.pch
*.pdb
*.ilk
*.dll
.vs/

# Build folders
Build/
bin/
Debug/
Release/

# Documentation output
Docs/html/
Docs/latex/
